<%- include("parcials/header")%>

<div class=" rounded-xl w-[80%] py-[10%] bg-red-200 m-auto  bg-gradient-to-r from-sky-500 to-indigo-500">
  <h1 class="text-center text-8xl font-extrabold text-yellow-200 drop-shadow-2xl">About</h1>
  <p class="text-center mt-10 text-sl text-yellow-100 ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum perferendis perspiciatis qui.</p>

  <p class="flex justify-center  gap-x-5 mt-20 ">
    <a class="hover:bg-red-600 rounded text py-3 px-5 bg-yellow-300" href="/login">Continue Surfing</a>
    <a class=" hover:bg-red-600 rounded text py-3 px-5 bg-yellow-300" href="/register">Start Your Journey Today</a>

  </p>
</div>
  <%- include("parcials/footer")%>