<%- include("parcials/header")%>


<!-- hero -->

<div class=" rounded-xl w-[80%] py-[10%] bg-red-200 m-auto  bg-gradient-to-r from-sky-500 to-indigo-500">


<!-- login content -->


  <h1 class="text-center text-8xl font-extrabold text-yellow-200 drop-shadow-2xl">Forget Password</h1>

  
  <h2 class="text-center mt-8 text-5xl font-extrabold text-yellow-300 drop-shadow-2xl">Enter Email</h2>

 
<!-- login content -->


<!-- login form -->

  <form action="/forgetpassword" method="post" class="w-full  text-center">

    <!-- inputs -->

    <input class="mt-10 rounded text-2xl p-2 border-solid border-2  border-sky-900 " type="text" placeholder="email" name="email"><br>

    <!-- inputs -->

   

     <!-- login button -->
    <br><br>
    <button class="hover:bg-red-600 rounded text py-3 px-5 bg-yellow-300" >New Password</button>

      <!-- login button -->

  </form>

 
<!-- login form -->


<!-- register link -->

<p class="mt-8 w-[40%] text-center m-auto">Don't have an account? <a class="text-yellow-400"
    href="/login">Login</a>

    
<!-- register link -->


<!-- temparory unwanted -->
 
<!-- 
  <p class="flex justify-center gap-x-5 mt-10 ">
    <a class="hover:bg-red-600 rounded text py-3 px-5 bg-yellow-300" href="/login">Continue Surfing</a>
    <a class=" hover:bg-red-600 rounded text py-3 px-5 bg-yellow-300" href="/register">Start Your Journey Today</a>

  </p> -->

<!-- temparory unwanted -->  

</div>


<!-- hero -->

  <%- include("parcials/footer")%>