<%- include("parcials/header")%>

<!-- hero -->


<div class=" rounded-xl w-[80%] py-[10%] bg-red-200 m-auto  bg-gradient-to-r from-sky-500 to-indigo-500">


<!-- home content -->


  <h1 class="text-center text-8xl font-extrabold text-yellow-200 drop-shadow-2xl">Homepage</h1>


<!-- home content -->


  <p class="flex justify-center gap-x-5 mt-20 ">


<!-- Continue Surfing button -->


    <a class="hover:bg-red-600 rounded text py-3 px-5 bg-yellow-300" href="/login">Continue Surfing</a>


<!-- Continue Surfing butto -->


<!-- Start Your Journey Today button -->


    <a class=" hover:bg-red-600 rounded text py-3 px-5 bg-yellow-300" href="/register">Start Your Journey Today</a>


<!-- Start Your Journey Today button -->


  </p>
</div>


<!-- hero -->

  <%- include("parcials/footer")%>